body{
    background-color: rgb(85, 209, 211);
font-family:'Times New Roman', Times, serif,Arial, Helvetica, sans-serif;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
margin:0;
}
.card:hover {
transform: translateY(-8px);

box-shadow: 0 10px 25px rgba(39, 245, 121, 0.5);
}
.card {
    background-color: aliceblue;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgb(235, 39, 245);
    padding: 30px;
    max: width 400px; 
    text-align:center;
}

.card img {
    border-radius:50%;
    width: 100px;
    height: 100px;
    object-fit:cover;
    margin-bottom:20px;

}

.card h1 {
  font-size: 24px;
  margin: 10px 0;
  color: #0b0b0b;
}

.card h2 {
  font-size: 18px;
  color: #817D85;
  margin-bottom: 20px;
}

.card p {
  font-size: 16px;
  color: #1e1e57;
  margin-bottom: 20px;
}

.card ul {
  list-style: none;
  padding:0;
  margin-bottom: 20px;
}

.card ul li {
  background-color:#d9bce6;
  margin: 5px 0;
  padding:8px;
  border-radius: 20px;
}

.card a {
 text-decoration: none;
 color: #611c82;
 font-weight: bold;
}